altgraph
anyio
argon2-cffi
argon2-cffi-bindings
attrs
audio-to-midi
beautifulsoup4
black
bleach
certifi
cffi
charset-normalizer
click
colorama
Cython
decorator
defusedxml
distlib
entrypoints
fastjsonschema
filelock
future
gitdb
GitPython
h11
idna
importlib-metadata
importlib-resources
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyter-server-mathjax
jupyterlab-pygments
MarkupSafe
mistune
mypy-extensions
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
numpy
packaging
pandocfilters
pathspec
pefile
platformdirs
progressbar2
prometheus-client
psgcompiler
psutil
pycparser
pydantic
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyrsistent
PySimpleGUI
pyte
python-dateutil
python-utils
python3-midi
pywin32
pywin32-ctypes
pywinpty
pyzmq
requests
Send2Trash
six
smmap
sniffio
SoundFile
soupsieve
terminado
thefuck
tinycss2
tomli
tornado
traitlets
typed-ast
typing-extensions
urllib3
virtualenv
wcwidth
webencodings
websocket-client
win-unicode-console
zipp
