altgraph==0.17.2
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==21.4.0
audio-to-midi==2020.7
beautifulsoup4==4.11.1
black==22.6.0
bleach==5.0.0
certifi==2021.10.8
cffi==1.12.3
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
Cython==0.29.7
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
entrypoints==0.4
fastjsonschema==2.15.3
filelock==3.9.0
future==0.18.2
gitdb==4.0.9
GitPython==3.1.27
h11==0.14.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.1
Jinja2==3.1.1
jsonschema==4.4.0
jupyter-client==7.2.2
jupyter-core==4.10.0
jupyter-server==1.16.0
jupyter-server-mathjax==0.2.5
jupyterlab-pygments==0.2.2
MarkupSafe==2.1.1
mistune==0.8.4
mypy-extensions==0.4.3
nbclient==0.6.0
nbconvert==6.5.0
nbdime==3.1.1
nbformat==5.3.0
nest-asyncio==1.5.5
numpy==1.16.3
packaging==21.3
pandocfilters==1.5.0
pathspec==0.9.0
pefile==2022.5.30
platformdirs==2.5.2
progressbar2==3.50.0
prometheus-client==0.14.1
psgcompiler==1.5.1
psutil==5.9.0
pycparser==2.19
pydantic==1.10.4
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pyparsing==3.0.8
pyrsistent==0.18.1
PySimpleGUI==4.60.1
pyte==0.8.1
python-dateutil==2.8.2
python-utils==3.3.3
python3-midi==0.2.5
pywin32==303
pywin32-ctypes==0.2.0
pywinpty==2.0.5
pyzmq==22.3.0
requests==2.27.1
Send2Trash==1.8.0
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
SoundFile==0.10.2
soupsieve==2.3.2.post1
terminado==0.13.3
thefuck==3.32
tinycss2==1.1.1
tomli==2.0.1
tornado==6.1
traitlets==5.1.1
typed-ast==1.5.4
typing-extensions==4.2.0
urllib3==1.26.9
virtualenv==20.17.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
win-unicode-console==0.5
zipp==3.8.0
